.fill-height {
  height: 80vh !important;
}

.yellow-submit-button {
  color: #23272b !important;
  background-color: rgb(133, 194, 64) !important;
  border-color: #23272b !important;
  padding: 0.75rem 1.25rem !important;
}

alert {
  margin-bottom: 0rem !important;
}

.center-content {
  align-self: center;
  text-align: center;
  display: contents !important;
}

@media screen and (min-width: 992px) {
  .yellow-submit-button {
    margin-right: 1rem;
    max-width: 45% !important;
  }
}

@media screen and (max-width: 986px) {
  .center-content {
    align-self: center;
    text-align: center;
    display: contents !important;
  }
  .yellow-submit-button {
    margin-bottom: 1em;
  }
}

.contact-header-second {
  color: rgb(133, 194, 64);
  padding-left: 6em;
}

@media screen and (max-width: 768px) {
  .contact-header-second {
    padding-left: 6em;
  }
}

@media screen and (max-width: 320px) {
  .contact-header-second {
    padding-left: 4em;
  }
}
.left-content {
  align-self: center;
  text-align: center;
  border-right: solid 0.5px rgb(133, 194, 64);
}

@media screen and (max-width: 768px) {
  .left-content {
    border-right: none;
    border-bottom: solid 0.5px rgb(133, 194, 64);
    margin-bottom: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
  }
}

@media screen and (max-width: 978px) {
  .left-content {
    border-right: none;
    border-bottom: solid 0.5px rgb(133, 194, 64);
    margin-bottom: 1em;
    padding-bottom: 2em;
    padding-top: 1em;
  }
}
