body {
  margin: 0;
  padding-top: 3.5rem;
  font-family: "Open Sans", arial, sans-serif !important;
}

.section-height {
  height: 90vh;
}

@media screen and (max-width: 522px) {
  .section-height {
    height: 25vh;
  }
}
@media screen and (max-width: 400px) {
  .section-height {
    height: 20vh;
  }
}
